@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pok-bg : "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .background-placeholder {
    background-image:  linear-gradient(90deg,rgba(1, 22, 39, 0.486),rgba(0, 0, 0, 0.671),rgba(43, 43, 1, 0.90)) ,var(--pok-bg, url("/pokemon-placeholder.png"));
    background-position: 50% 50%;
    background-size: 100%;
    transition: all 0.3s ease-in-out;
  }
  .background-placeholder:hover{
    background-position: 50% 50%;
    background-size: 110%;
  }
}